body {
  background-color: #FFF38B;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FFF38B;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  text-align: center;
  margin-top: 70px;
}

footer {
  background-color: #424242;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin: 0;
}

h1 {
  color: #333;
}

h3 {
  color: #555;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f57c00;
  z-index: 1000;
}


/* Navigation bar */
nav {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #f57c00; 
  padding: 0 20px;
}

.logo img {
  height: 40px;
  margin-right: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  gap: 20px;
}

ul li {
  display: flex;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #FEAF56;
}


/* About Page Specific Styles */
.about_page main {
  text-align: center;
  margin-top: 70px;
}

.about_page main h1 {
  font-size: 2.5rem;
  color: #333;
}

.about_page p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin: 20px auto;
  max-width: 800px;
  text-align: justify;
  color: #555;
}

.about_page footer p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
}

.about_page strong {
  color: #f57c00; /* Highlighted color */
}
