body {
  background-color: #FFF38B;
  font-family: Arial, sans-serif;
}
nav ul {
  list-style: none; /* No bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Make items inline */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none; /* Remove underline */
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
main {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

h3 {
  color: #555;
}
